.nav-container{
    width: 99%;
    height: 8vh;
    position: sticky;
    display: flex;
    background-color: rgb(31, 30, 30);
    align-items: center;
    padding-left: 1%;
}

#nav-link{
    text-decoration: none;
    margin-right: 5%;
    color: #ffffff;
}